<section class="cont2 py-8 flex items-center justify-center">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold mb-5 text-white text-center">My Skills</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">

        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="/assets/imgs/photoshop.png" alt="uiux" class="w-40 h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2 text-center text-white">Photoshop</h2>
        </div>
  
        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="assets/imgs/reactjs.png" alt="reactjs" class="w-40 h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2 text-center text-white">ReactJs</h2>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/illustrator.png" alt="illustrate" class="w-40 h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2 text-center text-white">Illustrator</h2>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/html.png" alt="html" class="w-40 h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2 text-center text-white">HTML</h2>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
          <img src="assets/imgs/figma.png" alt="figma" class="w-40 h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2 text-center text-white">Figma</h2>
        </div>

      </div>
    </div>
  </section>