<section class="cont2 py-8 flex items-center justify-center">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold mb-5 text-white text-center">My Skills</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="/assets/imgs/webdesign.png" alt="uiux" class="w-40 h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2 text-center text-white">UI UX Designing</h2>
          <p class="text-black text-center">+50 Designing</p>
          <p class="text-black text-center">-100 Programming</p>
        </div>
  
        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="assets/imgs/gaming.png" alt="game" class="w-40 h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2 text-center text-white">Gaming</h2>
          <p class="text-black text-center">-100 INT</p>
          <p class="text-black text-center">+100 Procrastination</p>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/illustrating.png" alt="illustrate" class="w-40 h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2 text-center text-white">Illustrating</h2>
            <p class="text-black text-center">-100 Art Block</p>
            <p class="text-black text-center">+50 Creative</p>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/sing.png" alt="sing" class="w-40 h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2 text-center text-white">Singing</h2>
            <p class="text-black text-center">-50 Confidence</p>
            <p class="text-black text-center">+100 Stage Fright</p>
        </div>

      </div>
    </div>
  </section>