<section class="cont p-8 flex flex-col min-h-screen">
    <h1 class="text-3xl font-bold mb-5 text-white text-center">My Profile</h1>
    <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
      <img src="/assets/imgs/me.png" alt="me" class="w-32 h-32 rounded-full mb-4 border-4 border-white">
      <div class="mb-4">
        <h1 class="text-3xl font-bold mb-2">Julianne Kyle Demafilez</h1>
        <h5 class="text-lg font-semibold mb-2">Illustrator</h5>
      </div>
  
    <div class="content mt-4 p-4 text-white">
        <h4 class="text-2xl font-bold mb-5 text-white">About Me</h4>
        <p class="text-lg">
            Greetings! I'm Julianne Kyle Demafilez, a college student currently studying at La Consolacion College
            Bacolod. I'm taking Bachelor of Science in Information Technology course.
        </p>
        <p class="text-lg mt-4">
            Throughout my experiences, I've achieved some of my goals, including improving my drawing skills.
            My philosophy revolves around striving for success, and I'm driven by a passion for digital drawing,
            singing, and web designing.
        </p>
        <p class="text-lg mt-4">
            Outside the digital art world, you can find me as an ordinary person, humble & willing to help who's in
            need. Not as perfect as others but unique in some ways. 
        </p>
    </div>
    </div>
  </section>
  