<section class="cont bg-violet-900 p-2 min-h-75 flex flex-col items-center justify-center">
    <div class="content flex items-center flex-col mb-4 mt-10">
      <img src="/assets/imgs/kek.jpg" alt="me" class="w-24 h-24 rounded-full mb-4">
      <div class="mb-4 text-center">
        <h3 class="text-lg font-semibold">Hi, my name is</h3>
        <h1 class="text-2xl font-bold mb-2">Julianne Kyle Demafilez</h1>
        <h5 class="text-sm font-light mb-2">Illustrator</h5>
      </div>
    </div>
  
    <div class="acc -mt-8 flex gap-2">
      <img src="assets/imgs/fb.png" alt="facebook" class="w-6 h-6">
      <img src="assets/imgs/ig.png" alt="instagram" class="w-6 h-6">
      <img src="assets/imgs/youtube.png" alt="youtube" class="w-6 h-6">
      <img src="assets/imgs/discord.jpg" alt="discord" class="w-6 h-6">
      <img src="assets/imgs/twitter.png" alt="twitter" class="w-6 h-6">
    </div>

    <div class="mt-4 flex gap-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full border border-blue-500">Profile</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full border border-green-500">Skills</button>
        <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full border border-purple-500">Works</button>
    </div>
    
  </section>

  <section class="cont2 bg-violet-900 py-8 flex items-center justify-center">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold mb-10 text-white">My Works</h1>
      <br/>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="/assets/imgs/kairu identity.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2">"identity"</h2>
          <p class="text-white">アイデンティティ</p>
        </div>
  
        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="assets/imgs/project queen.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2">"queen"</h2>
          <p class="text-white">Chiseltown's Queen</p>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/the forgotten queen.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2">"the forgotten queen"</h2>
            <p class="text-white">Queen</p>
          </div>
      </div>
    </div>
  </section>