<section class="cont2 py-8 flex items-center justify-center">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold mb-5 text-white text-center">My Works</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="/assets/imgs/kairu identity.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2">"identity"</h2>
          <p class="text-white">アイデンティティ</p>
        </div>
  
        <div class="bg-violet-500 p-6 rounded-lg shadow-lg">
          <img src="assets/imgs/project queen.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
          <h2 class="text-xl font-semibold mb-2">"queen"</h2>
          <p class="text-white">Chiseltown's Queen</p>
        </div>

        <div class="bg-violet-500 p-6 rounded-lg shadow-md">
            <img src="assets/imgs/the forgotten queen.jpg" alt="Artworks" class="w-full h-50 object-cover mb-4">
            <h2 class="text-xl font-semibold mb-2">"the forgotten queen"</h2>
            <p class="text-white">Queen</p>
          </div>
      </div>
    </div>
  </section>